<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_name %><br />
    <%= f.text_field :employee_name %>
  </div>
  <div class="field">
    <%= f.label :employee_branch_code %><br />
    <%= f.number_field :employee_branch_code %>
  </div>
  <div class="field">
    <%= f.label :employee_account_no %><br />
    <%= f.text_field :employee_account_no %>
  </div>
  <div class="field">
    <%= f.label :employee_currency_code %><br />
    <%= f.text_field :employee_currency_code %>
  </div>
  <div class="field">
    <%= f.label :employee_debit_credit %><br />
    <%= f.text_field :employee_debit_credit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
