
<h1><b>Company Name :</b><%= @companyob.company_name %>  </h1>


<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#">Employees info</a></li> </ul>  


<% @employees.each do |employee| %>
<div class="jumbotron payroll" >
<table border="0" style="width:100%">

  <tr>
    <td><b>Name : </b>  <%=employee.employee_name   %> </td>
    <td><b>Account code : </b> <%= employee.employee_account_no %></td>
    <td><b>Branch code : </b> <%= employee.employee_branch_code %> </td>
  </tr>
  <tr>
    <td><b>Currency code : </b><%= employee.employee_currency_code %> </td>
    <td><b>Debit credit : </b><%= employee.employee_debit_credit %></td>

    <td><b>Number of payrolls:</b><%= PayrollEmployee.count(:amount,conditions:{employee_id:employee.id} )%> </td>
    <td><b>Sum of payrolls:</b><%= PayrollEmployee.sum(:amount,conditions:{employee_id:employee.id} )%> </td>

  </tr>

</table>  
</div>
<br>
<%end%>
<li><%= link_to "Add new employees", new_employee_path %></li>
