<h1>Listing employees</h1>

<table>
  <tr>
    <th>Employee name</th>
    <th>Employee branch code</th>
    <th>Employee account no</th>
    <th></th>
    <th>Employee currency code</th>
    <th>Employee debit credit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.employee_name %></td>
    <td><%= employee.employee_branch_code %></td>
    <td><%= employee.employee_account_no %></td>
    <td><%= employee.employee_currency_code %></td>
    <td><%= employee.employee_debit_credit %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
