 <%= form_for(@payroll) do |f| %>
  <% if @payroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payroll.errors.count, "error") %> prohibited this payroll from being saved:</h2>

      <ul>
      <% @payroll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><b>Company Name :</b><%= @companyob.company_name %>  </p>
  
    <div class="field">
   <%= f.label :payrolls_value_day %><br />
 <%= f.date_select :payrolls_value_day%>
  </div>

<h3>Employees info :</h3>

<%if @payroll.id == nil %>

<%    @employes.each do|employe|%>
 <%   @payrollemploye << PayrollEmployee.new(employee_id: employe.id)%>
<%    end  %>

<%else%>
<%   @employes.each do|employe|%>
<%      @payrollemploye =  PayrollEmployee.find_all_by_payroll_id(params[:id])%>
<%    end  %>

<% end %>

<br>
<%= @payrollemploye %>
<br>
<%= @employes %>
<br>

 <% @payrollemploye.each_with_index do|employe , i |  %>
  <%= f.fields_for "amount#{i}",employe do |builder| %>
  <%=builder.label  Employee.find(employe.employee_id).employee_name   %> 
<p> 
Branch code :
<%= Employee.find(employe.employee_id).employee_branch_code %> 
  Acoocunt code :
<%= Employee.find(employe.employee_id).employee_account_no %> 
  Currency code :
<%= Employee.find(employe.employee_id).employee_currency_code %> 
Debit credit :
<%= Employee.find(employe.employee_id).employee_debit_credit %> 


</p>
  <%=builder.number_field :amount  ,:class => 'text_field', :step => 0.01%> 

<% end %>
<% end %>
<p>
  <%= params.inspect %>

</p> 
<%= f.submit 'Save', data: { confirm: 'Your confirm message' } %>
<% end %>
