
<h1>Payroll for Month <%= DateTime.now.to_date.strftime('%m/%y')%></h1>
<p><b>Company Name :</b><%= @companyob.company_name %>  </p>

<% amounts = Array.new %>
<% @totalamount = 0 %>
 <% @employes.each_with_index do|employe , i |  %>
<b>Name : </b>  <%=employe.employee_name   %> 
<b>Salary : </b>
<%= @amount = params[:payroll][:"amount#{i}"][:amount]%>
<% amounts << @amount  %> 
<b>Branch code : </b> 
<%= employe.employee_branch_code %> 
<b>Account code : </b>
<%= employe.employee_account_no %> 
<b>Currency code : </b>
<%= employe.employee_currency_code %> 
<b>Debit credit : </b>
<%= employe.employee_debit_credit %> 
<br>
<% @totalamount = @totalamount + @amount.to_f %>

<% end %>

<p>

 <b>Total amount:</b>
  <%= @totalamount.round(2) %>  
<br>
 <b>Total Number of employees:</b>
  <%= @employes.count %>  
<br>
<b> payroll  value day: </b>
 <%= date = Date.new params[:payroll]["payrolls_value_day(1i)"].to_i, params[:payroll]["payrolls_value_day(2i)"].to_i, params[:payroll]["payrolls_value_day(3i)"].to_i%>
<br>
</p>



 <%= button_to 'Confirm' , payrolls_confirm_path(date:date ,totalamount:@totalamount.round(2) , amounts:amounts  ) %>