<%= form_for(@payroll_employee) do |f| %>
  <% if @payroll_employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payroll_employee.errors.count, "error") %> prohibited this payroll_employee from being saved:</h2>

      <ul>
      <% @payroll_employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br />
 <%= f.number_field :amount ,:class => 'text_field', :step => 0.01 %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
