<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>Company code:</b>
  <%= @company.company_code %>
</p>

<p>
  <b>Company account no:</b>
  <%= @company.Company_account_no %>
</p>

<p>
  <b>Company account no usd:</b>
  <%= @company.Company_account_no_usd %>
</p>

<p>
  <b>Users:</b>

  <% @user = User.find_all_by_company_id(@company.id)%>
  <% @user.each do|user | %>
   <b>  user name :</b>
      <%=user.user_name%>
      <br>
   <b>  user email :</b>
      <%=user.email%>
     
      <% end %>

</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
